<template name="electionStats">
  <div class="election-stats clearfix">
    <div class="col-xs-4 col-lg-3 col-xl-1">
      <div class="card card--invisible">
        <div class="card--description">
          {{> electionCountdown electionId}}
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-lg-3 col-xl-1">
      <div class="card card--invisible">
        <div class="card--description">
          <p class="card--stat secondary-color-1-text"><strong>15</strong></p>
          <p class="card--stat-label">Polling Stations</p>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-lg-3 col-xl-1">
      <div class="card card--invisible">
        <div class="card--description">
          <p class="card--stat secondary-color-2-text"><strong>20</strong></p>
          <p class="card--stat-label">BallotBots</p>
        </div>
      </div>
    </div>
  </div>
</template>
