<template name="leftNav">
  <div id="leftNav" class="{{navOpenClass}}">
    <div class="leftNavHeader">
      <h3 class="leftNavTitle">BallotBots</h3>
      <a href="#" id="leftNavMenuButton" class="leftNavButton"><i class="fa fa-bars fa-2x"></i></a>
    </div>
    <div class="leftNavBody">
      <ul class="vertical-menu">
        <li>
          <a href="#">Test 1</a>
        </li>
        <li>
          <a href="#">Test 2</a>
        </li>
        <li>
          <a href="#">Test 3</a>
        </li>
      </ul>
    </div>
  </div>


</template>
