<template name="orgStats">
  <div class="org-stats clearfix">
    <div class="col-xs-4 col-lg-3 col-xl-1">
      <div class="card card--invisible">
        <!-- <h3 class="card-title">Next Election</h3> -->
        <div class="card--description">
          <p class="card--stat primary-color-2-text"><strong>25</strong></p>
          <p class="card--stat-label">Days Until Next Election</p>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-lg-3 col-xl-1">
      <div class="card card--invisible">
        <!-- <h3 class="card-title">Polling Stations</h3> -->
        <div class="card--description">
          <p class="card--stat secondary-color-1-text"><strong>15</strong></p>
          <p class="card--stat-label">Polling Stations</p>
          <!-- <p class="card-stat-label"><strong class="card-stat">10 </strong>Unchanged</p> -->
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-lg-3 col-xl-1">
      <div class="card card--invisible">
        <!-- <h3 class="card-title">BallotBot Inventory</h3> -->
        <div class="card--description">
          <p class="card--stat secondary-color-2-text"><strong>20</strong></p>
          <p class="card--stat-label">BallotBots</p>
          <!-- <p class="card-stat-label"><strong class="card-stat">30 </strong>Entrance/Exit Detectors</p> -->
        </div>
      </div>
    </div>
  </div>
</template>
