@font-face {
    font-family: 'TruenoBlack', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoBlackItalic', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoExtraBold', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoExtraBoldItalic', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoBold', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoBoldItalic', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoSemiBold', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoSemiBoldItalic', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoRegular', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoRegularItalic', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoLight', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoLightItalic', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoUltraLight', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'TruenoUltraLightItalic', sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'TruenoBold', sans-serif;
}
