//Home ==========================================================================

.first-section{
  position:relative;
  top:-70px;
  left:0;
  right:0;
  height: 100vh;
  width:100vw;
  margin-bottom:-70px;
  overflow: hidden;

  &--video{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    right: 0;
    bottom: 0;
    @include translate (-50%,-50%);
    z-index: 2;
  }

  &--pic-wrapper{
   display:none;
   position:relative;
   height: 100%;
   width:100%;
   background-image: url(../media/placeholder-home.png);
   background-position: left center;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 1;
   z-index: 2;
   top:0;
   left:0;
 }

 &--pic-wrapper::before{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10;
   background-image: url(../media/overlay-grid.png);
   height:100%;
   width:100%;
   content:"";
   opacity:.5;
   }

 &--pic-wrapper::after{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 5;
   background: linear-gradient(rgba(0,0,0,0.38),rgba(0,0,0,0.54),rgba(0,0,0,0.8));
   height:100%;
   width:100%;
   content:"";
   }

  &--text-wrapper{
    position:absolute;
    top:50%;
    @include translate (0,-50%);
    max-width:47%;
    right:3%;
    z-index:100;

      .dash{
        width:50px;
        height:6px;
        background-color:rgba(255,255,255,1);
      }

      .text{
        @include text-light();
        color:rgba(255,255,255,1);
        margin-bottom:0;
        line-height:1.2;

        .bold{
          @include text-bold();
          color:rgba(255,255,255,1);
        }
      }
  }

  &--arrow{
    position:absolute;
    bottom:4%;
    left:50%;
    @include translate (-50%,0);
    z-index:300;

    .icon-chevron-down{
      color:rgba(255,255,255,.8);
      font-size:30px;
    }
  }

}

.first-section::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-image: url(../media/overlay-grid.png);
  height:100%;
  width:100%;
  content:"";
  border-radius: 0.5rem;
  opacity:.5;
  }

.first-section::after{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: linear-gradient(rgba(0,0,0,0.28),rgba(0,0,0,0.44),rgba(0,0,0,0.5));
  height:100%;
  width:100%;
  content:"";
  }



//==========================================================================


	.map-section {
			height: 700px;
			position: relative;

			 #map {
			   height: 700px;
			 }

			 .view-projects {
			  	position: absolute;
			  	z-index: 200;
				  bottom: 7rem;
				  text-align: center;
				  left: 0;
				  right: 0;
				  margin-left: auto;
				  margin-right: auto;
			 }

				&--title {
				color: rgba(51, 51, 51, 0.85);
				font-family: "TruenoSemiBold",sans-serif;
				font-size: 27px;
				font-weight: normal;
				margin: 0 0 6rem;
				text-align: center;
				position: absolute;
				z-index: 200;
				top: 7rem;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
			}
	}

//==========================================================================

.second-section{
  width:100%;
  background-color:rgba(0,0,0,.02);
  padding:7rem 0;
  position:relative;

  &--title{
    @include text-bold();
    color:rgba(51,51,51,.85);
    text-align:center;
    margin:0;
    font-size:27px;
    margin-bottom:6rem;
  }

  &--icon-wrapper{
    @include display-flex();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    margin-bottom:6rem;
  }

  &--icon-circle{
    width:7rem;
    height:7rem;
    border-radius:50%;
    background-color: #0096d6;
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    color:#fff;
    margin-bottom:2rem;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
    transition:.2s;


    .icon-politics{
      font-size: 32px;
    }

    .icon-governance{
      font-size: 34px;
    }

    .icon-peace{
      font-size: 42px;
    }

    .icon-reading{
      font-size: 39px;
    }

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active{
      background-color: #005288;
      color:#fff;
    }

  }

  &--icon-title{
    @include text-bold();
    color:rgba(51,51,51,.85);
    margin:0;
    font-size:20px;
    line-height: 1.4;
    text-align:center;
  }

}

//==========================================================================

.slider-section{

  .di-slider {
    width:100%;
    position: relative;
    overflow: hidden;
    background: #000;

    &--item {
      width:100%;
      height: 100%;
      position: relative;
      left:0;
      top:0;
      z-index:0;
      background: #000;
    }

    &--item::after{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      content:"";
      background-image: url(../media/overlay-grid.png);
      height:100%;
      width:100%;
      opacity: 1;

    }

    &--image {
      width:100%;
      height:100%;
      position: absolute;
      z-index:50;
      opacity: 0.7;
    }

    &--content-container {
      position: relative !important;
      height:100%;
      top:0;
      z-index:150;
    }


				&--text-wrapper {
							position:absolute;
							top:50%;
							@include translate (0,-50%);
							max-width:60%;
							left: 15px;
							z-index:200;
							text-shadow:1px 1px 1px #000;

									.dash{
											width:50px;
											height:6px;
											background-color:rgba(255,255,255,1);
									}

									.text{
											@include text-light();
											color:rgba(255,255,255,1);
											margin-bottom:2.5rem;
											line-height:1.2;

											b {
													@include text-bold();
													color:rgba(255,255,255,1);
											}
									}
					}

        &--caption {
          text-shadow:1px 1px 1px #000;
          position: absolute;
          right: 15px;
          bottom: 3%;
          // background: rgba(0,0,0, 1);
          color: rgba(255,255,255,1);
          padding: 20px 0 20px 20px;
          max-width:250px;
          z-index:300;
          text-align: right;
          @include display-flex();
          @include flex-direction(column);
          @include align-items(flex-end);
          @include justify-content(flex-end);


          &--icon-circle{
            background-color: #0096d6;
            width:4.5rem;
            height:4.5rem;
            border-radius:50%;
            @include display-flex();
            @include align-items(center);
            @include justify-content(center);
            color:rgba(255,255,255,1);

            .icon-politics{
              font-size:2.2rem;
            }

            .icon-governance{
              font-size:2.4rem;
            }

            .icon-peace{
              font-size:2.7rem;
            }

            .icon-reading{
              font-size:2.5rem;
            }
          }

          .title {
            @include text-bold();
            line-height: 1.4;
            margin-bottom:0;
            font-size:16px;
            text-shadow:1px 1px 1px #000;
            z-index: 100;
          }

          .subtitle {
            @include text-regularitalic();
            line-height: 1.5;
            margin-bottom:0;
            margin-top:5px;
            text-shadow:1px 1px 1px #000;
            z-index: 100;
          }

          .date-place {
            @include text-semibold();
            text-transform: uppercase;
          }
        }

    &--pager {
      position: absolute;
      bottom: 3%;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 200;

      a {
        display: inline-block;
        width: 13px;
        height: 13px;
        margin: 0 5px;
        border-radius: 50%;
        border: 1px solid #fff;
        background: #fff;
        background: rgba(255,255,255, 0.1);
        text-indent: -9999px;
      }

      a.active {
        background: rgba(255,255,255, 1);
      }
    }

    &--next {
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
       @include transform(translate(-25%, -50%));
      color: rgba(255,255,255,.8);
      z-index: 200;
      font-size: 3rem;
      border-radius: 50%;
      width: 40px;
      text-align: center;
      transition:.2s;

      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active{
        color: rgba(255,255,255,1);
      }
    }

    &--prev {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
       @include transform(translate(25%, -50%));
      color: rgba(255,255,255,.8);
      z-index: 200;
      font-size: 3rem;
      border-radius: 50%;
      width: 40px;
      text-align: center;
      transition:.2s;

      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active{
        color: rgba(255,255,255,1);
      }
    }


   }



}


//==========================================================================

.map-section {
  overflow: hidden;
  
  #map {
    position: relative;
  }
  
  .btn-view-projects {
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 180px;
    bottom: 60px;
  }

}



//blog style in blog.scss===================================================

.fourth-section{
  width:100%;
  background-color: rgba(0,0,0,.05);
  padding:7rem 0;

  &--title{
    @include text-semibold();
    color:rgba(51,51,51,.85);
    text-align:center;
    margin:0;
    font-size:27px;
    margin-bottom:6rem;
  }

}

//==========================================================================

.fifth-section{
  width:100%;
  background-color:#005288;
  padding:7rem 1rem;
  text-align: center;
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);

  &--title{
    @include text-semibold();
    color:rgba(255,255,255,1);
    text-align:center;
    margin:0;
    font-size:27px;
    margin-bottom:2.5rem;
  }

  p{
    @include text-light();
    color:rgba(255,255,255,.9);
    text-align:center;
    max-width:800px;
    margin:0;
    font-size:18px;
    line-height:1.4;
    margin-bottom:4rem;
  }
}

.button-wrapper-home{
  @include display-flex();
  @include justify-content(center);
}

//Media Queries ==========================================================================

@media (max-width:767px) {

  .first-section{

    &--video{
      display:none;
    }

    &--pic-wrapper{
      display:block;
    }

    &--text-wrapper{
      left:3%;
      right:3%;
      max-width:100%;

      .dash{
        width:40px;
        height:6px;
      }

      .text{
        font-size:28px;
      }
    }

    &--arrow{

      .icon-chevron-down{
        font-size:20px;
      }
    }
  }

  .first-section::before{
    display:none;
  }

  .first-section::after{
    display:none;
  }

  .second-section{
    padding:5rem 2rem;

    &--title{
      font-size:24px;
      margin-bottom:2.2rem;
    }

    &--icon-wrapper{
      padding:3.8rem 0;
      margin-bottom:1rem;
      border-bottom:1px solid rgba(255,255,255,.2);
      margin-left:-15px;
      margin-right:-15px;
    }

    .last{
      margin-bottom:2.2rem;
    }

  }

  .slider-section{
    position:relative;
    top:-60px;

    .di-slider{

    &--text-wrapper{
      // left:3%;
      // right:3%;
      max-width:90%;
      left:25px;
      // top:15%;
      // @include translate (0,0);

      .dash{
        width:40px;
        height:6px;
      }

      .text{
        font-size:28px;
      }
    }

      &--caption {

        display: none;

        &--icon-circle{
          width:4rem;
          height:4rem;

          .icon-politics{
            font-size:1.8rem;
          }

          .icon-governance{
            font-size:2rem;
          }

          .icon-peace{
            font-size:2.3rem;
          }

          .icon-reading{
            font-size:2.1rem;
          }
        }

        .title{
          font-size:15px;
        }

      }

      &--prev {
        display:none;
      }

      &--next {
        display:none;
      }

      &--pager {

        a {
          width: 12px;
          height: 12px;
        }

      }

    }
  }


  .fourth-section{
  padding:5rem 0;

    &--title{
      font-size:24px;
    }

  }

  .fifth-section{
  padding:5rem 2rem;

    &--title{
      font-size:24px;
    }

  }


}
